@font-face {
    font-family: 'asapregular';
    src: url('../Fontes/asapvariable.woff2') format('woff2'),
         url('../Fontes/asapvariable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@property --verde {
    syntax: '<color>';
    initial-value: #61D057;
    inherits: false;
}
@property --ciano {
    syntax: '<color>';
    initial-value: #62DBD2  ;
    inherits: false;
}
@property --azul {
    syntax: '<color>';
    initial-value: #4176FF;
    inherits: false;
}
@property --laranja {
    syntax: '<color>';
    initial-value: #ff6f00;
    inherits: false;
}
@property --vermelho {
    syntax: '<color>';
    initial-value: #ff3700;
    inherits: false;
}
@property --tamanho-popup {
    initial-value: 10000;
}
@property --margin-popup {
    initial-value: 0;
}


/* Estilização global */
body {
    font-family: 'asapregular', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    
    a {
        text-decoration: none;
    }
} 

/* Estilização da barra de navegação */
.navbar {
    background: linear-gradient(90deg, var(--verde), var(--ciano), var(--azul));
    height: 64px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 32px;
    
    .imagem {
        height: 44px;
        width: 44px;
        margin: 10px 6px 10px 16px;
    }
    div {
        margin: auto auto 17px auto;
        span {
            color: white;
            font-size: 32px;
            text-shadow: 1px 2px 4px rgb(30, 30, 30);
        }
    }
}

/* Estilização do titulo */
.titulo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 64px auto 32px auto;
    font-size: 36px;
    text-shadow: 1px 2px 4px rgb(213, 213, 213);
    color: #11d000;
}

/* Estilização do subtitulo */
.subtitulo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 16px auto 64px auto;
    font-size: 24px;
    text-shadow: 1px 2px 4px rgb(185, 185, 185);
    color: black;

}

/* Estilização dos botões do painel */
.botoesPainel {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .botoesColuna1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 16px;
    }
    .botoesColuna2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 16px;
    }
    .botaoPainel{
        background: linear-gradient(90deg, var(--verde), var(--ciano));
        transition: --verde 0.2s, --ciano 0.2s;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        box-shadow: 0px 4px 12px -4px black;
        text-shadow: 0px 1px 2px rgb(62, 62, 62);
        border-radius: 16px;
        margin: 16px auto;
        height: 108px;
        width: 312px;
        font-size: 28px;
        font-family: inherit;
        font-weight: 600;
        color: white;
        cursor: pointer;
    
        &.botaoZ {
            background: linear-gradient(90deg, var(--vermelho), var(--laranja));
            transition: --laranja 0.2s, --vermelho 0.2s;
        
            &:hover {
                --vermelho: #ff4511;
                --laranja: #ff8800;
                transition: --laranja 0.5s, --vermelho 0.5s;
            } 
            &:active {
                --vermelho: #ff3700;
                --laranja: #ff4000;
                transition: --laranja 0.1s, --vermelho 0.1s;
            }  
        }
    
        img{
            height: 64px;
            margin: auto 24px auto 24px;
        }
        &:hover {
            --verde: #61de87;
            --ciano: #3fd2df;
            transition: --verde 0.4s, --ciano 0.4s;
        } 
        &:active {
            --verde: #61D057;
            --ciano: #62db78;
            transition: --verde 0.1s, --ciano 0.1s;
        }    
        span{
    
            line-height: 25px;
            margin: auto 42px auto 0px;
        }
        &#botaoRotinaTeste {span{margin: auto 60px auto 0px;}}
        &#botaoCicloDiario {span{margin: auto 30px auto 0px;}}
        &#botaoLigaTorneira {span{margin: auto 56px auto 0px;}}
        &#botaoInfoSistema {span{margin: auto 64px auto 0px;}}
    }
}



/* Estilização dos botões */
.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto auto 0 auto;
}
.botao {
    background: linear-gradient(90deg, var(--verde), var(--ciano));
    transition: --verde 0.2s, --ciano 0.2s;
    border: none;
    box-shadow: 0px 4px 12px -4px black;
    text-shadow: 0px 1px 2px rgb(62, 62, 62);
    border-radius: 32px;
    height: fit-content;
    padding: 12px;
    padding-left: 28px;
    padding-right: 28px;
    width: fit-content;
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;
    color: white;
    cursor: pointer;

    &:hover {
        --verde: #61de87;
        --ciano: #3fd2df;
        transition: --verde 0.4s, --ciano 0.4s;
    } 
    &:active {
        --verde: #61D057;
        --ciano: #62db78;
        transition: --verde 0.1s, --ciano 0.1s;
    }    
}    

/* Estilização da janela de pop-up */
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        position:fixed;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        padding: 20px;
        border: 1px solid #888888;
        box-shadow: 4px 8px 32px -16px black;
        border-radius: 40px;
        width: 500px;
        height: fit-content;
        font-weight: bolder;

        .tituloJanela {
            font-size: 28px;
            margin: 32px auto 32px auto;
            text-align: center;
            text-shadow: 1px 2px 4px rgb(193, 193, 193);
            color: #0fb900;
        }
        .inputPopup {
            display: grid;
            justify-items: center;
            width: 100%;

            div {
                width: 84%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 8px;

                input {
                    width: 172px;
                    height: 16px;
                    font-size: 20px;
                    font-family: inherit;
                    font-weight: inherit;
                    border: solid black 2px;
                    border-radius: 8px;
                    box-shadow: inset 1px 1px 3px #999;
                    padding: 8px;
                }
            }
        }
        .botao {
            margin: 32px 20px 32px 20px;
        }
    }
}
.sub.popup .content{
    height: 512px;

    .inputPopup {
        overflow: auto;
    }
    .buttonList{
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding-left: 15px;
        margin-top: 0;

        .botao{
            background: linear-gradient(90deg, var(--verde), var(--verde));
            margin-top: 8px;
            margin-bottom: 8px;
            border-radius: 16px;
            min-width: 200px;
            max-width: 240px;

            span{
                text-align: center;
                word-wrap: break-word;
            }
            &:hover {
                --verde: #79ff6d;
                transition: --verde 0.5s;
            } &:active {
                --verde: #61D057;
                transition: --verde 0.1s;
            }
        }
    }
}
.show {
    display: block;
}

/* Estilização do botões de configurações flutuante */
.botaoFlutuante{
    background: linear-gradient(90deg, var(--verde), var(--ciano));
    position:fixed;
    width:64px;
    height:64px;
    bottom:40px;
    right:40px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;

    &:hover {
        --verde: #61de87;
        --ciano: #3fd2df;
        transition: --verde 0.4s, --ciano 0.4s;
    } 
    &:active {
        --verde: #61D057;
        --ciano: #62db78;
        transition: --verde 0.1s, --ciano 0.1s;
    }    
    img{
        height: 44px;
        margin-top: 10px;
    }
}
