/* Estilização global */
@media screen and (max-width: 720px) {
    body {
        font-size: 16px;
    }
}    

/* Estilização da barra de navegação */
@media screen and (max-width: 720px) {
    .navbar {
        height: 48px;

        .imagem {
            height: 36px;
            width: 36px;
            margin: 6px 6px 6px 16px;
        }
        div {
            margin: auto auto 12px auto;
            span {
                font-size: 24px;
                text-shadow: 0.5px 1.5px 2px rgb(60, 60, 60);
            }   
        }
    }
}

/* Estilização do titulo */
@media screen and (max-width: 720px) { 
    .titulo {
        font-size: 32px;
    }
	@media screen and (max-width: 380px) { 
		.titulo {
			margin: 48px auto 16px auto;
			font-size: 28px;
		}
	}
}


/* Estilização do subtitulo */
@media screen and (max-width: 720px) { 
    .subtitulo {
        margin: 16px auto 16px auto;
        font-size: 22px;
    }
	@media screen and (max-width: 380px) { 
		.subtitulo {
			font-size: 20px;
		}
	}
}

/* Estilização dos botões do painel */
@media screen and (max-width: 720px) {
    .botoesPainel {
        .botoesColuna1 {
            margin: auto 8px;
        }
        .botoesColuna2 {
            margin: 8px;
        }
		.botaoPainel{
			flex-direction: column;
			margin: 8px auto;
			height: 156px;
			width: 168px;
			font-size: 26px;
    
			img{
				height: 56px;
				margin: 20px auto auto auto;
			}
			span{
				margin: auto auto 20px auto;
			}
			&#botaoRotinaTeste {span{margin: auto auto 20px auto;}}
			&#botaoCicloDiario {span{margin: auto auto 30px auto;}}
			&#botaoLigaTorneira {span{margin: auto auto 30px auto;}}
			&#botaoInfoSistema {span{margin: auto auto 30px auto;}}
		}
    }

	@media screen and (max-width: 380px) {
		.botoesPainel {
			.botoesColuna1 {
				margin: auto 8px;
			}
			.botoesColuna2 {
				margin: 8px;
			}
			.botaoPainel{
				height: 140px;
				width: 156px;
				font-size: 22px;
			
				img{
					height: 48px;
					margin: 16px auto auto auto;
				}
				span{
					margin: auto auto 16px auto;
				}
				&#botaoRotinaTeste {span{margin: auto auto 16px auto;}}
				&#botaoCicloDiario {span{margin: auto auto 24px auto;}}
				&#botaoLigaTorneira {span{margin: auto auto 24px auto;}}
				&#botaoInfoSistema {span{margin: auto auto 24px auto;}}
			}
		}
	}
}



/* Estilização dos botões */
@media screen and (max-width: 720px) { 
/* 
    .botoes{
               
    }
*/ 
    .botao {
        margin: 16px auto;
        font-size: 20px;
        box-shadow: 0px 4px 8px -4px black;
        text-shadow: 0px 1px 1px rgb(62, 62, 62);
    }
    @media screen and (max-width: 380px) { 
        .tituloJanela {
            font-size: 18px;
        }
    }
}

/* Estilização da janela de pop-up */
@media screen and (max-width: 720px) { 
    .popup .content {
            border-radius: 28px;
            width: 320px;
            
            .tituloJanela {
                font-size: 24px;
                margin: 32px auto 24px auto;
                padding-left: 4px;
                padding-right: 4px;
            }
            .inputPopup div {
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 8px;
                font-size: 22px;

                span {
                    min-width: 92px;
                }
                input {
                    width: 148px;
                    height: 16px;
                    font-size: 20px;
                    padding: 8px;
                    
                }
            }
            .botao {
                margin: 32px 16px 32px 16px;
            }
        }
    @media screen and (max-width: 380px) { 
        .popup .content {
            border-radius: 24px;
            width: 292px;

            .inputPopup div {
                span {
                    font-size: 22px;
                }
                input {
                    width: 128px;
                    height: 16px;
                    font-size: 18px;
                    padding: 8px;
                }
            }
        }
    }
}

/* Estilização do botões de configurações flutuante */
@media screen and (max-width: 720px) { 
    .botaoFlutuante{
        width:54px;
        height:54px;
        bottom:4%;
        right:8%;   
        img{
            height: 36px;
            margin-top: 9px;
        }
    }
	@media screen and (max-width: 380px) { 
		.botaoFlutuante{
			width:48px;
			height:48px;
			img{
				height: 32px;
				margin-top: 8px;
			}
		}
	}
}

/* Estilização do botões de configurações flutuante */
@media screen and (max-width: 720px) { 
    .sub.popup .content{

        .botao{
            margin: 24px 8px;
        }

        .buttonList{
            padding-left: 0px;
        }
    }
/*
    @media screen and (max-width: 380px) { 
        .sub.popup .content{

        }
    }
*/
}

@media screen and (max-width: 720px) { 
    .dropdown {
            &.container {
                padding-top: 56px;
                margin-left: 18.5px;
            }
            /* Links inside the dropdown */
            &.container .numeroInput {
                margin: -10px 8px;
                padding: 12px;
                font-size: 22px;
            }
      }
      @media screen and (max-width: 380px) { 
        .dropdown {
            &.container {
                padding-top: 56px;
                margin-left: 22px;
            }
            /* Links inside the dropdown */
            &.container .numeroInput {
                font-size: 20px;
            }
        }
    }
}
